// Forzamos limpiar los estilos de caja grises que GTK mete por defecto
* {
  all: unset;
  font-family: "JetBrains Mono", "Inter", "Noto Sans", sans-serif;
}

// Hacemos que la ventana base de eww sea 100% invisible
window {
  background-color: rgba(0, 0, 0, 0);
}

.clock-card {
  ;; Fondo totalmente transparente para que se vea tu wallpaper detrás
  background-color: rgba(0, 0, 0, 0); 
  padding: 10px;
  
  ;; Alineación centrada para el look minimalista grande
  text-align: right; 
}

.clock-time {
  ;; Tamaño grande e imponente
  font-size: 56px; 
  font-weight: 800;
  
  ;; Contraste inverso (Tu color C_LIGHT_GRAY / Blanco brillante)
  color: #abb2bf; 
  
  ;; Sombra sutil para que resalte si tu wallpaper es claro en esa zona
  text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); 
}

.clock-date {
  font-size: 16px;
  font-weight: 500;
  
  ;; Color secundario muted para mantener balance (C_SUBTEXT)
  color: #5c6370; 
  text-transform: lowercase;
  margin-top: 4px;
}
